<div class="hero min-h-screen" >
    {{!-- <div class="hero-overlay bg-opacity"></div> --}}
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-lg">
            <h1 class="text-5xl font-bold intro-animation-from-top">Discover your perfect stay with us</h1>
            <p class="py-6 intro-animation-from-bottom">Book your dream hotel today and experience comfort, convenience, and luxury at affordable
                prices.</p>
            <button class="btn btn-primary">Find Rooms</button>
        </div>
    </div>
</div>

<div class="min-h-screen">
</div>

{{!-- style="background-image: url(/img/highway.jpg);" --}}